.list-row {
    margin: 10;
}

.headline {
    font-style: bold;
}

.subline {
    font-style: italic;
}

.primary {
    background-color: #b905ff;
}

.action-button {
    background-color: #10cfe8;
    color: white;
    margin: 0 10 0 0;
}

.header-label {
    font-style: bold;
    color: white;
    font-size: 20;
}